/* .stopwatch-container {
  position: absolute;
  transform: translate(0, -50%);
}
button {
  padding: 20px;
  outline: none;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
}

button:nth-of-type(1) {
  background: green;
}
button:nth-of-type(2) {
  background: red;
}
button:nth-of-type(3) {
  background: yellow;
} */
