.toggle {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid black;
}
.toggle button {
  height: 60px;
  width: auto;
  margin: 10px;
  padding: 10px;
  background-color: purple;
  color: white;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}
